<table class="main container">
  <tr>
    <td class="decidim-bar">
      <table class="row collapse">
        <tr>
          <th class="decidim-bar" >
            <center>
              <%= image_tag(decidim.root_url(host: organization.host) + image_url("decidim/header_email.png")[1..-1], alt: t("alt_banner_image", scope: "decidim.newsletter_templates.mel_template")) %>
            </center>
          </th>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="spacer">
        <tbody>
        <tr>
          <td height="40px" style="font-size:40px;line-height:40px;"> </td>
        </tr>
        </tbody>
      </table>

      <table class="row content">
        <tr>
          <th class="small-12 first columns">
            <%= body %>
          </th>
          <th class="expander"></th>
        </tr>
      </table>

      <table class="row">
        <tr>
          <th class="small-12 first columns">
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="footer-bar">
      <table class="row">
        <tr>
          <th class="expander"></th>
          <th class="cityhall-bar show-for-large">
              <%= image_tag(decidim.root_url(host: organization.host) + image_url("decidim/footer_email_group.png")[1..-1], alt: t("alt_banner_image", scope: "decidim.newsletter_templates.mel_template")) %>
          </th>
          <th class="footer-menu">
            <div class="footer-menu-item">
              <a target="_blank" href="<%= t("menu_item_1.link", scope: "decidim.newsletter_templates.mel_template") %>">
                <span class="footer-menu-item-icon"><%= t("menu_item_1.icon", scope: "decidim.newsletter_templates.mel_template") %></span>
                <span class="footer-menu-item-text"><%= t("menu_item_1.text", scope: "decidim.newsletter_templates.mel_template") %></span>
              </a>
            </div>
            <div class="footer-menu-item">
              <a target="_blank" href="<%= t("menu_item_2.link", scope: "decidim.newsletter_templates.mel_template") %>">
                <span class="footer-menu-item-icon"><%= t("menu_item_2.icon", scope: "decidim.newsletter_templates.mel_template") %></span>
                <span class="footer-menu-item-text"><%= t("menu_item_2.text", scope: "decidim.newsletter_templates.mel_template") %></span>
              </a>
            </div>
            <div class="footer-menu-item">
              <a target="_blank" href="<%= t("menu_item_3.link", scope: "decidim.newsletter_templates.mel_template") %>">
                <span class="footer-menu-item-icon"><%= t("menu_item_3.icon", scope: "decidim.newsletter_templates.mel_template") %></span>
                <span class="footer-menu-item-text"><%= t("menu_item_3.text", scope: "decidim.newsletter_templates.mel_template") %></span>
              </a>
            </div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
